.container {
    min-height: 400px;
    margin-bottom: 50px;
}
image {
    width: 100%;
}

.image > img {
    width: 100%;
}

.bd-navbar {
    position: sticky;
    top: 0;
    z-index: 1071;
}

/** Front Page ***/

/* Set a background image by replacing the URL below */
body.frontpage {
    background: url('https://vi-goblog.s3-us-west-2.amazonaws.com/2015/8/9/17/30/0/1WESvt6LIMLog2QySDmM5EAgzFk/diamond-lake.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

.blog-item-box {
    width: 100%;
}

.blog-item-date {
    width: 100%;
}

.blog-item-date-day {
    width: 65px;
    height: 65px;
    display: block;
    float: left;
    font-size: 45px;
    line-height: 65px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    background-color: #cccccc;
}

.blog-item-date-full-month-year {
    background: #eeeeee;
    height: 65px;
    overflow: hidden;
    margin: 0 0 10px 0;
    font-size: 22px;
    padding: 17px 0 0 10px;
    font-weight: 400;
    color: #6b6b6b;
}

.blog-item-title-title {
    padding: 0 0 0 10px;
    margin: 0 0 0 0;
}

.blog-item-content {
    padding: 10px 0 20px 10px;
    margin: 10px 0 10px 0;   
}

/** Image Display **/
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
    .load-image {
        width: 960px;
    }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .load-image {
        width: 720px;
    }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .load-image {
        width: 960px;
    }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .load-image {
        width: 1140px;
    }  
}
  
.load-image > a > img{
      height: auto;
      width: 100%;
}

/* Image Viewer */
div.image-container {
    background-color: rgb(34, 34, 34);
    width: 100%;
}

div.image-box  {
    width: 1024px;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

div.image-box > img {
    width: 100%;
}

.photo-details {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

.icon-h4{
    display: inline-block;
    padding-right: 5px;

}

.icon-h4 > img {
    width: 30px;
    height: 30px;
}

div.tag {
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid;
}

div.title-md {
    margin-top: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(215, 216, 219);
}

div.image-view-md {
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 15px;
    border-top: 1px solid rgb(215, 216, 219);
}

div.category-view {
    margin-top: 10px;
    
}

.m-link-textarea {
    width: 80%;
    height: 40px; 
}

.footer {
    margin: 0px;
    padding: 15px;
    background-color: rgb(215, 216, 219);
}
