{% extends "base.html" %}
 
{% block title  %}Sessions{% endblock %}

{% block headertitle %}<h1>Sessions</h1>{% endblock %}
 
{% block body %}

<table class="table">
    <tr><th>Session ID</th><th>Authenticated</th><th>User</th><th>IP Address</th><th>City</th><th>Country</th></tr>
    {% for s in sessions %}
    <tr>
        <td>
            {{ s.SessionToken }}
        </td>
        <td>
            {{ s.IsAuth }}
        </td>
        <td>
            {{ s.User.Username }}
        </td>
        <td>
            IP: {{ s.User.IPAddress }}
        </td>
        <td>
            {{ s.User.City }}
        </td>
        <td>
            {{ s.User.Country }}
        </td>
        <td>
            <a class="btn btn-primary" href="/admin/session/delete/{{ s.SessionToken }}">Remove</a>
        </td>
    </tr>
    
    {% endfor %}

</table>
{% endblock %}

