{% extends "base.html" %}

{% block title  %}Admin{% endblock %}

{% block headertitle %}<h1>{{ post.Title }}</h1>{% endblock %}
 
{% block body %}
<p>
    {{ content |safe }}
</p>
{% endblock %}

{% block script %}
<script>

$( document ).ready(function() {
    console.log( "document loaded" );

    $('.load-image').each(function() {
        console.log($(this).data('id'));
        url = getMedia($(this),$(this).data('id'));
        //$(this).html('<img src="' + url + '"/>');
    });

    $('.load-image').mouseover(function(e){
        console.log("load image details");
        console.log($(this).data('id'));
    });

    $('.load-image').mouseleave(function(e){
        console.log("leave image details");
        console.log($(this).data('id'));
    });

});

    function getMedia(imgel, id){

        var mediaurl = "";

        $.ajax({ 
                url: '/api/v1/getmedia/' + id, 
                type: 'get',  
                dataType: 'json',
                timeout: 120000,
                error: function(error) {
                    console.log(error)
                },
                success: function(response){ 
                    var status = response['status'];
                    var mediaurl = response['url'];
                    var refurl = response['refurl'];
                    var title = response['title'];
                    if (status == 'error') {
                        console.log(response['message'])
                    }

                    imgel.html('<a href="'+ refurl +'"><img src="' + mediaurl + '"/></a>')
                    imgel.append('<div class="image-title-blurb">' +  title  + '</div>')
                    
                },
                complete: function(jqXHR, status) {
                    console.log("load complete");
                },
        });
    }
</script>
{% endblock %}

