{% extends "base.html" %}
 
{% block title  %}Media{% endblock %}

{% block headertitle %}<h1>Media</h1>{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/css/modal-window.css" />
{% endblock %}



{% block body %}

<style>
    .header-row {
        font-weight: bold;
        font-size: 1.2em;
        border-bottom: 2px solid;
        margin-bottom: 4px;
    }
    .table-body {
        margin-bottom: 4px;
    }

    .img-box img {
        width: 200px; /* width of container */
        height: 200px; /* height of container */
        object-fit: cover;
        border: 5px solid black;
    }

</style>

<form>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Filter</h5>
            <div class="row">
                <div class="col-md-8">
                    <input type="text" class="form-control" id="searchVal" value="" placeholder="Search" />
                </div>
                <div class="col-md-1">
                    <button id="search" class="btn btn-primary">Search</button>
                </div>
                <div class="col-md-1">
                    <button id="clear" class="btn btn-primary">Clear</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-2" style="margin-top:5px;">
        <a href="/admin/media/add" class="btn btn-primary">Add Media</a>
    </div>
</div>

<!-- Result Viewer -->
<div id="resultviewer">

</div>

<div id="modal" aria-hidden="true" aria-labelledby="modalTitle" aria-describedby="modalDescription" role="dialog">
    <div class="modalDocument" role="document">
        <div id="modalDescription" class="screen-reader-offscreen">

        </div>
        <h1 id="modalTitle">Update Title</h1>
        <form name="form1" onSubmit="return false;">
            <div class="row">
                <div class="col-md-12">
                    <label for="firstName">New Title</label>
                    <input type="text" class="form-control" name="newTitle" id="newTitle">
                </div>
            </div>
            <div style="height: 5px"></div>
            <div class="row">
                <div class="col-md-4">
                    <input type="button" class="btn btn-success" name="button" id="enter" value="Submit">
                    <input type="button" class="btn btn-danger" name="cancelButton" id="cancelButton" value="Cancel">
                </div>
            </div>

        </form>
    </div>
</div>
<div id="modalOverlay" tabindex="-1"></div> 

{% endblock %}
{% block script %}
<script src="/scripts/modal-window.js"></script>
<script>

var header = "";

header += '<div class="row header-row">';
header += '<div class="col-md-2"></div>';
header += '<div class="col-md-5">Title</div>';
header += '<div class="col-md-3">Key Words</div>';
header += '<div class="col-md-2"></div>';
header += "</div>"

var searchVal = "";

var currentID = ""

$(document).ready(function(){ 

    // Write a local item..
    if(localStorage.getItem("search")) {
        searchVal = localStorage.getItem("search");
        $("#searchVal").val(searchVal);
        console.log("loading search  " + searchVal);
    }

    console.log("loading on document load");
    searchMedia(searchVal);

    $('#search').click(function(e){

        searchVal = $("#searchVal").val();

        // Write a local item..
        localStorage.setItem("search", searchVal);

        searchMedia(searchVal);

        e.preventDefault();
    });

    $('#clear').click(function(e){
        $("#searchVal").val("");

        // Write a local item..
        localStorage.setItem("search", "");

        searchVal = "";

        searchMedia(searchVal);

        e.preventDefault();
    });

    
    $( "#resultviewer" ).on( "click", ".change", function( e ) {
        
        currentID = $(this).data("id");
        console.log(currentID);
        showChangeTitleForm(currentID)
        e.preventDefault();
    });

    $('#enter').click(function(e) {
        console.log("CLICK");

        title = $("#newTitle").val();

        changeTitle(currentID,title);

        $('#title-'+currentID).text(title)
    });
});

function showChangeTitleForm(id) {
    showModal($('#modal'));
}

function changeTitle(id,title) {

    console.log("changing " + title + " id " + id);

    bdata = {
    'id': id,
    'title': title
    };

    $.ajax({
        url: '/api/v1/change-media-title',
        type: 'post',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(bdata),
        dataType: 'json',
        success : function(r) {
            console.log( r.status + ' ' +  r.message);
        },
        failure: function(errMsg) {
            console.log(errMsg);
        },
        error: function(errMsg) {
            console.log(errMsg);
        }
    });
}

function searchMedia(search) {
    console.log("calling search media")
    $('#resultviewer').empty();
    $('#resultviewer').append(header);


    console.log("Searching for " + search)

    bdata = {
    'search': search
    };

    $.ajax({
        url: '/api/v1/searchmedia',
        type: 'post',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(bdata),
        dataType: 'json',
        success : function(r) {
            console.log( r.status + ' ' +  r.message);
            $.each(r.results, function(key,v) {
                console.log(v)
                var row = '<div class="row table-body">';
                row += '<div class="col-md-2"><div class="img-box"><img src="/image/' + v.slug + '/thumb" ></div></div>';
                row += '<div class="col-md-5"><span id="title-' + v.media_id + '" class="ptitle">' + v.title +  '</span> <button id="change-'+ v.media_id +'" class="btn btn-info btn-sm change" data-id="' + v.media_id + '">change</button></div>';
                row += '<div class="col-md-3">' + v.keywords + '</div>';
                row += '<div class="col-md-2">';
                row += '<a href="/admin/media/view/' + v.media_id + '" class="btn btn-primary">view</a> ' 
                row += '<a href="/admin/media/edit/' + v.media_id + '" class="btn btn-success">edit</a> '
                row += '<a href="/admin/media/delete/' + v.media_id + '" class="btn btn-danger">delete</a> '   
                row += '</div>';
                row += '</div>';

                console.log(row)

                $('#resultviewer').append(row);
            });
        },
        failure: function(errMsg) {
            console.log(errMsg);
        },
        error: function(errMsg) {
            console.log(errMsg);
        }
    });

}
</script>

{% endblock %}


