<!DOCTYPE html>
<html  lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta property="og:type" content="website">
      <meta property="og:title" content="DIY Tiny Trailer">
      <meta property="og:site_name" content="DIY Tiny Trailer">
      <meta property="og:url" content="http://diytinytrailer.com/">
      <meta property="og:description" content="DIY Trailer Building Adventures.">
      <meta property="og:url" content="https://diytinytrailer.com">
      <meta name="description" content="DIY Trailer Building Adventures.">
      <meta name="google-site-verification" content="" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="google-site-verification" content="XfT8EDkdhaPdwAAjrSip-i9ClkUnRjvRURwO6d3VZ74" />
      <link rel="icon" href="/images/fav.png" type="image/x-icon"/>
      <title>
             {% block title %}{{ affiliate.AffiliateTilte }}{% endblock %}
      </title>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="/css/main.css" />
        {% block stylesheet %}
        {% endblock %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112487731-3"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'UA-112487731-3');
        console.log("google fired")
        </script>
        
    </head>
    <body></body>
    <script>
        window.location.replace("{{ affiliate.AffiliateLink }}");
    </script>
    </html>
