.gallery-wrapper {
  overflow: hidden;
}

.grid-item {
  padding-bottom: 3rem;
}

.grid-item img {
  display: block;
  max-width: 100%;
  padding: 0px;
}

.pinfo {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}

.pinfo, .img-overlay, .story-mobile {
    background-color: rgba(0,0,0,0.65);
    cursor: pointer;
    color: #FFFFFF;
}

.pinfo a, .img-overlay a {
  color: #FFFFFF;
  text-decoration: none;
}

.pinfo-button{
    float: right;
}

.pinfo-title{
    display: inline-block;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    font-size:1.2vw;
}

.button-bar {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    padding-bottom: 5px;
}

.button-bar p {
  font-size: .65rem;
}

.button-bar hr {
  border-top: 1px solid rgba(255, 255, 255, 1.0);
}

ul.pinfo-list {
    padding-left: 40px;
    padding-top: 5px;
}

  ul.pinfo-list > li > span.pinfo-label {
    display: inline-block;
    width: 20%;
    opacity: 1;
    font-weight: bold;
    color: #FFFFFF;
    font-size:.8vw;
  }

  ul.pinfo-list > li > span.pinfo-value {
    display: inline-block;
    width: 60%;
    opacity: 1;
    font-weight: bold;
    color: #FFFFFF;
    font-size:.8vw;
  }

  ul.portfolio-items>li{
    display: inline-block;
    width: 100%;
    height: 30px;
    margin-left: 5px;
    margin-top: 15px;
    color: #FFFFFF;
  }


ul.portfolio-items>li a{
    display: inline-block;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}


ul.portfolio-items>li a i{
    margin-left: 5px;
}