{% extends "base.html" %}
 
{% block title  %}Add Post{% endblock %}

{% block headertitle %}Add Post{% endblock %}
 
{% block body %}
<form method="post" action="/admin/post/edit/{{post.PostID}}">

<div class="form-group">
    <label for="inputTitle">Title</label>
    <input type="input" class="form-control" name="inputTitle" id="inputTitle" aria-describedby="emailHelp" value="{{ post.Title }}"placeholder="Title of your Post">
</div>
{% if titleMessageError == true %}
<div class="alert alert-warning" role="alert">
    {{ titleMessage }}
</div>
{% endif %}
<div class="form-group">
    <label for="inputStatus">Status</label>
    <select class="form-control" id="inputStatus" name="inputStatus" value="{{ post.Status }}">
    <option value="Enabled">Enabled</option>
    <option vlaue="Disabled">Disabled</option>
    </select>
</div>
{% if statusError == true %}
<div class="alert alert-warning" role="alert">
    {{ statusMessage }}
</div>
{% endif %}
<div class="form-group">
    <label for="inputPost">Post</label>
    <textarea class="form-control" id="inputPost" name="inputPost" rows="10">{{ post.Post }}</textarea>
</div>
{% if postMessageError == true %}
<div class="alert alert-warning" role="alert">
    {{ postMessage }}
</div>
{% endif %}
<div class="form-group row">
    <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>
{% endblock %}
