{% extends "base.html" %}
 
{% block title  %}Create Affiliate Link{% endblock %}

{% block headertitle %}<h1>Create Affiliate Link</h1>{% endblock %}
 
{% block body %}
<form method="post" action="/admin/affiliates/add">

<div class="form-group">
    <label for="inputTitle">Title</label>
    <input type="input" class="form-control" name="inputTitle" id="inputTitle" aria-describedby="TitleHelp" value="{{ affiliate.AffiliateTitle }}"placeholder="Affiliate Title">
</div>
{% if titleMessageError == true %}
<div class="alert alert-warning" role="alert">
    {{ titleMessage }}
</div>
{% endif %}
<div class="form-group">
    <label for="inputURL">URL</label>
    <input type="input" class="form-control" name="inputURL" id="inputURL" aria-describedby="URLHelp" value="{{ affiliate.AffiliateLink }}"placeholder="URL">
</div>
{% if urlMessageError == true %}
<div class="alert alert-warning" role="alert">
    {{ urlMessage }}
</div>
{% endif %}

<div class="form-group">
    <label for="inputCategory">Category</label>
    <input type="input" class="form-control" name="inputCategory" id="inputCategory" aria-describedby="URLHelp" value="{{ affiliate.Category }}"placeholder="Category">
</div>
{% if categoryMessageError == true %}
<div class="alert alert-warning" role="alert">
    {{ categoryMessage }}
</div>
{% endif %}

<div class="form-group">
    <label for="inputDescription">Description</label>
    <input type="input" class="form-control" name="inputDescription" id="inputDescription" aria-describedby="URLHelp" value="{{ affiliate.Description }}"placeholder="Description">
</div>
{% if descriptionMessageError == true %}
<div class="alert alert-warning" role="alert">
    {{ descriptionMessage }}
</div>
{% endif %}

<div class="form-group row">
    <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>
{% endblock %}

