{% extends "base.html" %}
 
{% block title  %}Affiliates{% endblock %}

{% block headertitle %}<h1>Affiliates</h1>{% endblock %}
 
{% block body %}
<div class="row">
    <div class="col-md-12">
            <a href="/admin/affiliates/add" class="btn btn-primary">Add Affiliate Link</a>
    </div>
</div>
<table class="table">
<tr><th>Title</th><th>Description</th><th>Date</th><th></th></tr>
{% for a in affiliates %}
<tr>
    <td>
        {{ a.AffiliateTitle }}
    </td>
    <td>{{ a.Category }}</a></td>
    <td>{{ a.AffiliateDescription }}</a></td>
    <td>{{ a.CreatedAt |date:"January 02, 2006 at 15:04"}}</td>
    <td>
        <a href="/admin/affiliates/view/{{ a.AffiliateID }}" class="btn btn-primary">view</a>
        <a href="/admin/affiliates/edit/{{ a.AffiliateID }}" class="btn btn-primary">edit</a>
        <a href="/bouncyhouse/{{ a.AffiliateID }}" class="btn btn-primary">test</a>
        <a href="/admin/media/delete/{{ a.AffiliateID }}" class="btn btn-primary">delete</a>
    </td>
</tr>

{% endfor %}

</table>
{% endblock %}

