{% extends "base.html" %}
 
{% block title  %}Add Images{% endblock %}

{% block headertitle %}<h1>Add Images</h1>{% endblock %}
 
{% block body %}
<form id="form" method="post" action="/admin/media/add" enctype="multipart/form-data">

<div class="form-group">
    <label for="title">Title</label>
    <input type="input" class="form-control" id="title" name="title"/>
</div>

<div class="form-group">
    <label for="keywords">Category</label>
    <input type="input" class="form-control" id="category" name="category"/>
</div>

<div class="form-group">
    <label for="keywords">Keywords (Comma Separated) </label>
    <input type="input" class="form-control" id="keywords" name="keywords"/>
</div>

<div class="form-group">
    <label for="Location">Location</label>
    <input type="input" class="form-control" id="location" name="location"/>
</div>

<div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description">

    </textarea>
</div>

<div class="form-group row">
    <div class="col-sm-5">
        <button id="fileup" type="button" class="btn btn-primary">Add Files</button>
    </div>
</div>

<input type="file" class="form-control" id="file" name="file" multiple="true" visibility="hidden" style="display:none;" />

<div class="form-group row">
    <div class="col-sm-10" id='file-list-display'>
    </div>
 </div>


<div class="form-group row">
    <div class="col-sm-5">
        <button type="submit" id="but_upload" class="btn btn-primary" style="display:none;">Upload</button>
    </div>
    <div class="col-sm-5">
        <div id="status"></div>
    </div>
    
</div>
</form>
<div id='file-list-status'></div>

{% endblock %}

{% block script %}
<script>
$(document).ready(function() { 

    var _validFileExtensions = [".jpg", ".jpeg"]; 
    var fileList = [];
    var renderFileList, sendFile;
    var fileListDisplay = $('#file-list-display')[0];
    var fileInput = $('#file')[0];
    var base = $.when({});
    var uploadCount=0;

    $('#fileup').click(function() {
        $('#file').click();
    });

    $(':file').on('change', function (e) {
        e.preventDefault();
        fileList = [];
        console.log(fileInput)
  	    for (var i = 0; i < fileInput.files.length; i++) {
            if (validateFile(fileInput.files[i]) == true) {
                fileList.push(fileInput.files[i]);
            } else {
                $('#file-list-status').append('<div class="alert alert-warning" role="alert">Error adding file:' +  fileInput.files[i].name + ' - Only .jpg or .jpeg extensions and files under 60MB are allowed.</div>');
            }
        }
        renderFileList();
        if(fileList.length > 0) {
            console.log("Display upload button");
            $('#but_upload').show();
        }
    }); 

    validateFile = function(file) {

        if (file.size > 75000000) {
            console.log('max upload size is 75mb');
            return false;
        }

        var blnValid = false;
        for (var j = 0; j < _validFileExtensions.length; j++) {
            var sCurExtension = _validFileExtensions[j];
            if (file.name.substr(file.name.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                blnValid = true;
                break;
            }
        }       
        if (!blnValid) {
            console.log("Sorry, " + file.name + " is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
            return false;
        }
        return true;
    };

    renderFileList = function () {
  	    fileListDisplay.innerHTML = '';
        fileList.forEach(function (file, index) {
    	    var fileDisplayEl = document.createElement('p');
            fileDisplayEl.innerHTML = (index + 1) + ': ' + file.name;
            fileListDisplay.appendChild(fileDisplayEl);
        });
    };

    $("#but_upload").click((function(e) {
        e.preventDefault();
        var count = 0
        $('#file-list-status').empty();
        
        fileList.forEach(function (file) {

            base = base.then(getAjaxDeferred(file, count));
            count = count + 1
            //console.log("Upload completed....")
        });
    }));

    function getAjaxDeferred(file, count){
        return function(){
            // wrap with a deferred
            var defer = $.Deferred();
            var fd = new FormData(); 

            fd.append('file', file); 
            fd.append('keywords',$('#keywords').val());
            if (count == 0) {
            fd.append('title',$('#title').val());
            } else {
                fd.append('title',$('#title').val() + " [" + count +  "]" );
            }
            fd.append('description',$('#description').val());
            fd.append('category',$('#category').val());
            fd.append('location',$('#location').val());

            $.ajax({ 
                url: '/api/v1/putmedia/1', 
                type: 'post', 
                data: fd, 
                contentType: false, 
                cache: false,
                processData: false, 
                dataType: 'json',
                timeout: 120000,
                error: function(request, status, error) {
                    $('#file-list-status').append('<div class="alert alert-danger" role="alert">File upload failed with error: ' + status + '</div>');
                },
                success: function(response){ 
                    if(response != 0){ 
                        console.log(response['file'] + 'file uploaded'); 
                        if(response) {
                            console.log(response)
                            uploadCount = uploadCount + 1
                            if(response['status'] == 'error') {
                                $('#file-list-status').append('<div class="alert alert-danger" role="alert">File upload for:' + response['file'] + ' failed with error: ' + response['error'] + '</div>');
                            }
                            else {
                                $('#file-list-status').append('<div class="alert alert-success" role="alert">Uploaded file:' + response['file'] + '</div>');
                            }
                        }
                        
                        $('#status').html('<span>' + uploadCount + ' - files uploaded </span>')
                    }else{
                        console.log('file could not be uploaded'); 
                    } 
                }, 
                complete: function(jqXHR, status) {

                    if (uploadCount == fileList.length) {
                        console.log("end is near!");
                        $('#file-list-status').append('<div class="alert alert-success" role="alert">' +  uploadCount + ' - file(s) uploaded</div>');
                        $('#file-list-status').append('<div class="alert alert-success" role="alert">Upload Complete!</div>');
                        var i = 0;
                        setInterval(function () {
                            i++;
                            if(i == 3){
                                window.location.replace("/admin/media");
                            }
                        }, 1000);
                    }
                    defer.resolve();
                }
            }); 

            // return a promise so that we can chain properly in the each 
            return defer.promise();
        };
    }
}); 
</script>
{% endblock %}