{% extends "base.html" %}
 
{% block title  %}Media{% endblock %}

{% block headertitle %}<h1>Media</h1>{% endblock %}
 
{% block body %}
<div class="row">
    <div class="col-md-12">
            <a href="/admin/media/add" class="btn btn-primary">Add Media</a>
    </div>
</div>
<table class="table">
    <tr><th></th><th>Title</th><th>Date</th><th></th></tr>
    {% for m in media %}
    <tr>
        <td>
            {% if m.S3Uploaded == "true" %}
            <img src="/image/{{ m.Slug }}/thumb" style="width: 50px; height: 50px;"/>
            {% else %}
              Loading..

            {% endif %}
        </td>
        <td><a href="/admin/media/view/{{ m.MediaID }}">{{ m.Title }}</a></td>
        <td>{{ m.CreatedAt |date:"January 02, 2006 at 15:04"}}</td>
        <td>
            <a href="/admin/media/view/{{ m.MediaID }}" class="btn btn-primary">view</a>
            <a href="/admin/media/edit/{{ m.MediaID }}" class="btn btn-primary">edit</a>
            <a href="/admin/media/delete/{{ m.MediaID }}" class="btn btn-primary">delete</a>
        </td>
    </tr>
    
    {% endfor %}

</table>
{% endblock %}
    {{posts|length}}

