{% extends "../base.html" %}
 
{% block title  %}You Bad Bad Little Scourge Rat{% endblock %}

{% block headertitle %}<h1>You Bad Little Scourge Rat</h1>{% endblock %}
 
{% block body %}
<div class="row">
    <div class="col-md-12">
        <div style="margin-left: auto; margin-righ:auto; widht: 300px;">
            <img src="/images/grouchy.jpg" />
        </div>

    </div>
</div>
<p>
    It is true, scourge rats crawl around the internet looking for 
    easy-to-hack wordpress sites.  Is it fame, is it glory, is it
    merely a case of a server inferiority complex?  The world may
    never know the rationale behind such motives, but one thing
    is for certain, we are on to you now....go away you little scourge rat,
    don't go chasing waterfalls, stick to sewers and gutters you are used too!
</p>
<p>
    Good Luck in your foolish  endeavors.  One day karma will catch up with you.
</p>
{% endblock %}